<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>{{ 'table.price'|trans }}</th>
      <th>{{ 'table.modif'|trans }}</th>
      <th>{{ 'table.commande'|trans }}</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for panier in paniers %}
      <tr>
        <td>{{ panier.id }}</td>
        <td>{{ panier.prix }}€</td>
        <td>{{ panier.date ? panier.date|date('Y-m-d H:i:s') : '' }}</td>
        <td>{{ panier.etat ? 'Yes' : 'No' }}</td>
        <td>
          <a href="{{ path('app_panier_show', { id: panier.id }) }}">show</a>
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="4">{{ 'table.no_record'|trans }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
