{% extends 'base.html.twig' %}

{% block title %}
{{ 'produit.title'|trans }}
{% endblock %}

{% block body %}
  <style>
    img {
      width: 150px;
    }
  </style>
  <h1>{{ 'produit.title'|trans }}</h1>

  <table class="table">
    <thead>
      <tr>
        <th>
          {{ 'table.name'|trans }}
        </th>
        <th>
          {{ 'table.desc'|trans }}
        </th>
        <th>
          {{ 'table.price'|trans }}
        </th>
        <th>
          {{ 'table.stock'|trans }}
        </th>
        <th>
          {{ 'table.picture'|trans }}
        </th>
      </tr>
    </thead>
    <tbody>
      {% for produit in produits %}
        <tr>
          <td>
            <a href="{{ path('app_produit_show', { id: produit.id }) }}">{{ produit.nom }}</a>
          </td>

          <td>{{ produit.description }}</td>
          <td>{{ produit.prix }}€</td>
          <td>{{ produit.stock }}</td>
          <td>
            <img src="{{ asset('uploads/' ~ produit.photo) }}" alt="{{ produit.nom }}" />
          </td>

          {# <td>
            <a href="{{ path('app_produit_show', { id: produit.id }) }}">show</a>
          </td> #}
        </tr>
      {% else %}
        <tr>
          <td colspan="7">
            {{ 'table.no_record'|trans }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_produit_new') }}">Create new</a>
  {% endif %}
{% endblock %}
