<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Welcome!
      {% endblock %}
    </title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>" />
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <style>
      header {
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        background-color: #f5f5f5;
        box-shadow: 0 0 5px black;
        margin-bottom: 20px;
      }
      
      header nav {
        display: flex;
      }
      
      .nav-link {
        margin: 0 5px;
        font-size: 18px;
        display: flex;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <a class="navbar-brand" href="{{ path('app_produit_index') }}"><h1>Device Delight</h1></a>
        {% if is_granted('ROLE_MODERATOR') %}
          <a class="nav-link" href="{{ path('app_moderator') }}">{{ 'header.admin'|trans }}</a>
        {% endif %}
      </nav>
      <nav>
        {% if is_granted('ROLE_USER') %}
          <a class="nav-link" href="{{ path('app_panier_index') }}">{{ 'header.panner'|trans }}</a>
          <a class="nav-link" href="{{ path('app_user') }}">{{ 'header.user'|trans }}</a>
          <a class="nav-link" href="{{ path('app_logout') }}">{{ 'header.logout'|trans }}</a>
        {% else %}
          <a class="nav-link" href="{{ path('app_login') }}">{{ 'header.login'|trans }}</a>
          <a class="nav-link" href="{{ path('app_register') }}">{{ 'header.register'|trans }}</a>
        {% endif %}
      </nav>
    </header>
    <div class="container">
      {% for type, messages in app.flashes %}
        {% for msg in messages %}
          <p class="alert alert-{{ type }}">{{ msg }}</p>
        {% endfor %}
      {% endfor %}
      {% block body %}

      {% endblock %}
    </div>
  </body>
</html>
